@font-face {
    font-family: 'HelveticaNeue Cyr';
    src:  url('../fonts/HelveticaNeueCyr-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Cyr';
    src:  url('../fonts/HelveticaNeueCyr-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Cyr';
    src:  url('../fonts/HelveticaNeueCyr-Roman.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue Cyr';
    src:  url('../fonts/HelveticaNeueCyr-Medium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

body{
    color: white;
    font-size: 14px;
    font-family: 'HelveticaNeue Cyr', sans-serif;
    font-weight: 300;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 2px;
    padding: 2px;
}

.wrapper{
  height: 100%;
  position: relative;
  box-shadow: 5px 5px 5px 5px black;
}

nav{
  min-width: 765px;
  background-color: #074f8f;
  background: url(../img/navbar-bg.png);
}

nav div{
  float: right;
}

nav a{
  color: #60b5ed;
  display: block;
  padding: 0 14px;
  float: right;
  line-height: 36px;
  text-decoration: none;
}

nav a:hover{
  color: white;
  background-color: #4eabda;
}

nav .separator{
  height: 30px;
  width: 1px;
  margin: 3px 7px;
  background-color: #60b5ed;
}

nav .user-offers{
  margin: 0 17px 0 10px;
}

nav .user-offers a{
  margin: 0;
  padding: 0;
  color: white;
}

nav .user-offers a:hover{
  background-color: transparent;
  color: white;
  line-height: 32px;
  border-bottom: 4px inset white;
}

nav .user-offers img{
  display: block;
  margin: 5px 9px 0 0;
  float: left;
}

nav .login-reg{
  margin: 0 20px 0 0;
  padding: 0 15px;
  background: linear-gradient(to bottom, #50aedb, #2e7ac4);
  border-radius: 3px;
}

nav .login-reg a{
  display: inline;
  margin: 0;
  padding: 0;
  float: none;
  color: white;
  border-bottom: 1px solid white;
}

nav .login-reg a:hover{
  color: white;
  background: transparent;
  border-bottom: 4px solid white;
}

.content{
  width: 100%;
  height: calc(100% - 36px);
  min-height: 700px;
  display: flex;
  background: url(../img/background.jpg) top center no-repeat;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-reg-form{
  width: 560px;
  height: 613px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.login-reg-form .form-header{
  font-weight: 200;
  font-size: 24px;
  text-align: center;
  margin-bottom: 2px;
  padding: 19px;
  background-color: rgba(0, 0, 0, 0.6);
}

.login-reg-form .form-body{
  height: 549px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.login-reg-form .login-with-fb a{
  display: inline-block;
  margin-top: 36px;
}

.login-reg-form .login-with-fb a img:hover{
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(128,193,255,.7);
}

.login-reg-form .form-separator{
  margin: 29px 0;
}

.login-reg-form .form-separator h1{
  display: inline-block;
  margin: 0 6px;
}

.login-reg-form .line{
  width: 122px;
  display: inline-block;
  box-sizing: border-box;
  margin:4px 0;
  border-top: 1px solid #666666;
  border-bottom: 1px solid black;
}

.login-reg-form form{
}

.login-reg-form form input[type="text"],[type="email"],[type="password"]{
  width: 276px;
  line-height: 33px;
  height: 33px;
  border: 0;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
  margin: 0 50px 16px;
  padding-left: 18px;
  font-family: 'HelveticaNeue Cyr', sans-serif;
  font-weight: 500;
  color: white;

  background-color: rgba(0, 0, 0, 0.5);;
}

::-webkit-input-placeholder{
  color: #cccccc;
}

.login-reg-form form input[type="text"]:hover,[type="email"]:hover,[type="password"]:hover{
  border-bottom: 1px solid #699bcd;
}

.login-reg-form form input[type="text"]:focus,[type="email"]:focus,[type="password"]:focus{
  color: white;
  background-color: #1b5288;
  border-bottom: 1px solid #699bcd;
  box-shadow: 0 0 15px rgba(128,193,255,1), inset 0 0 25px rgba(0,0,0,.3);
  outline: none;
}

.login-reg-form form input[type="text"]:focus::-webkit-input-placeholder,[type="email"]:focus::-webkit-input-placeholder,[type="password"]:focus::-webkit-input-placeholder{
  color: white;
}

.login-reg-form form label {
  color: #cccccc;
  display: block;
  margin-left: -38px;
  line-height: 24px;
}

.login-reg-form form input[type="checkbox"]{
  margin: -2px 3px 0 0;
  vertical-align: middle;
}

.login-reg-form form input[type="checkbox"]:focus{
  color: white;
  background-color: #1b5288;
}

.login-reg-form form button{
  margin: 18px 0;
  padding: 0 19px;
  font-family: 'HelveticaNeue Cyr', sans-serif;
  font-size: 14px;
  color: white;
  line-height: 35px;
  background: linear-gradient(to bottom, #50aedb,#2e7ac4);
  border: 0;
  border-radius: 3px;
}

.login-reg-form form button:focus{
  outline: none;
}

.login-reg-form form button:hover{
  box-shadow: 0 0 15px rgba(128,193,255,.7);
}

.login-reg-form form button:active{
  background: linear-gradient(to bottom, #2e7ac4, #50aedb);
}

.login-reg-form p{
  color: #cccccc;
  font-family: "Helvetica Neue Cyr", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 6px;
}

.login-reg-form p a{
  color: #cccccc;
  text-decoration: none;
}

.login-reg-form p a:hover{
  text-decoration: underline;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
