body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
div{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: silver;
}
table
{
    margin: auto;
    border-collapse: collapse;
    border: 0;
    width: 500px;
    height: 541px;
    background-color: white;
}
td
{
    border: 7px solid #000;
    width: 50px;
}
